{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'main_site/main.css' %}"
    />

    {% if title %}
    <title>KTP - {{ title }}</title>
    {% else %}
    <title>KnowThePrice</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-dark p-3">
        <div class="container-fluid">
          <a href="{% url 'main_site-home' %}"><img src="{% static 'main_site/logo_KTP.png' %}" class="mr-4" /></a>
          <a class="navbar-brand mr-4 text-logo" href="{% url 'main_site-home' %}">Know The Price</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul
              class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
              style="--bs-scroll-height: 100px"
            >
              <li class="nav-item">
                <a class="nav-link btn" aria-current="page" href="{% url 'main_site-home' %}">Главная</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown"
                  href="#"
                  id="navbarScrollingDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Портфели
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-dark"
                  aria-labelledby="navbarScrollingDropdown"
                >
                  <li><a class="dropdown-item" href="#">Мои Портфели</a></li>
                  <li><a class="dropdown-item" href="#">Аналитика</a></li>
                  <li><a class="dropdown-item" href="#">Дивиденды</a></li>
                  <li><a class="dropdown-item" href="#">Балансировка</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Рынки</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown"
                  href="#"
                  id="navbarScrollingDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Общение
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-dark"
                  aria-labelledby="navbarScrollingDropdown"
                >
                  <li><a class="dropdown-item" href="#">Социальная сеть</a></li>
                  <li><a class="dropdown-item" href="#">Блоги</a></li>
                  <li><a class="dropdown-item" href="#">Обсуждения</a></li>
                  <li><hr class="dropdown-divider"/></li>
                  <li><a class="dropdown-item" href="#">Новости</a></li>
                </ul>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Подписаться</a>
                </li> -->
              {% else %}
              <li class="nav-item">
                <a class="nav-link btn" aria-current="page" href="#"
                  >Наши преимущества</a
                >
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link btn" aria-current="page" href="#"
                  >Возможности</a
                >
              </li> -->
              {% endif %}
            </ul>
            <div class="navbar-nav d-flex">
              {% if user.is_authenticated %}
              <!-- <a class="nav-item nav-link btn btn-dark me-md-2" href=""><b>New Post</b></a> -->
              <div class="d-inline-flex align-items-center">
                <div class="text-profile">
                  <a class="nav-item nav-link mr-2" href="{% url 'profile' %}"
                    ><b>{{ user.username }}</b></a
                  >
                </div>
                <div class="photo-profile">
                  <a href="{% url 'profile' %}"
                    ><img
                      class="rounded-circle"
                      src="{{ user.profile.image.url }}"
                  /></a>
                </div>
              
								<div class="text-profile">
									<b><a
											class="nav-link nav-item mr-2"
											aria-current="page"
											href="{% url 'logout' %}"
											>Выйти</a>
									</b>
								</div>
							</div>
              {% else %}
              <ul
                class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
                style="--bs-scroll-height: 100px"
              >
                <li class="nav-item">
                  <a
                    class="nav-link btn"
                    aria-current="page"
                    href="{% url 'login' %}"
                    >Войти</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link btn"
                    aria-current="page"
                    href="{% url 'register' %}"
                    >Регистрация</a
                  >
                </li>
              </ul>
              <!-- <a class="nav-item nav-link btn btn-dark mr-2" href="">Login</a>
                <a class="nav-item nav-link btn btn-dark mr-2" href="">Register</a> -->
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      {% block content %}
			{% if user.is_authenticated %}
			<div class="row main-content ">
				<div class="col-md-8 columns">
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{ message.tags }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
					<div class="content-block">
						<div class="name__block">
							<a href="#">Портфель</a>
						</div>
						<div class="port content__block row d-flex justify-content-around">
							<div class="miniblock col-md-4">
								<div class="name__block miniblock">
									Стоимость
								</div>
								<div class="content__block miniblock">
									8000 руб
								</div>
							</div>
							<div class="miniblock col-md-3">
								<div class="name__block miniblock">
									Прибыль
								</div>
								<div class="content__block miniblock">
									+ 1000 руб
								</div>
							</div>
							<div class="miniblock col-md-4">
								<div class="name__block miniblock">
									Див. Доходность
								</div>
								<div class="content__block miniblock">
									1000 руб/год
								</div>
							</div>
						</div>
					</div>
					<div class="content-block">
						<div class="name__block">
							<a href="#">Рынки</a>
						</div>
						<div class="port content__block row d-flex justify-content-around">
		
						</div>
					</div>
				</div>
				<div class="col-md-4 news-block">
					<div class="content-section">
						<div class="content-block">
							<h3>Новости</h3>
							<p class='text-muted'>Самые последние новости.
								<ul class="list-group">
									
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>	
			{% else %}
			<div class="main-content">
				<div class="columns">
					<div class="content-block center">
						<h1 class="">Добро пожаловать!</h1>
					</div>
				</div>
			</div>
			{% endif %}
      {% endblock %}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
